body {
    background-color: black;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



nav > ul {
    list-style: none;
}

nav > ul button {
    padding: 10px;
}

#pic {
    transition-property: transform; 
    transition-duration: 1s;
}
